*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}
/* opening animation */
@media screen and (prefers-reduced-motion: reduce) {
    .animate { animation: none !important; }
  }

.animate-fade {
    animation-duration: 0.3s;
    animation-name: animate-fade;
    animation-fill-mode: backwards;
}

.animate-appear {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-fill-mode: backwards;
}

.animate-pop {
    animation-duration: 0.3s;
    animation-name: animate-pop;
    animation-fill-mode: backwards;
}

@keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes animate-pop {
    0% { transform:translate(0, -20px);
        opacity: 0; }
    100% { transform:translate(0);
        opacity:1; }
  }

.delay { animation-delay: 0.2s; }  
.delay-1 { animation-delay: 0.4s; }  
.delay-2 { animation-delay: .8s; }
.delay-3 { animation-delay: 1s; }

html body {
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #3a568d;
}


#app h1 {
    font-family: "Audiowide", sans-serif;
    font-weight: 700;
    padding-bottom: 1rem;
    font-size: 6.5rem;
    /* background: linear-gradient(#447AB8, #00BFA6, hsl(144, 35%, 37%));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; */
    color:#CDDEFE;

}

/* title responsive sizing */
@media screen and (min-width: 800px) {
    #app h1 {
      font-size: 6.5rem;
    }
  }
  
  @media screen and (max-width: 800px) {
    #app h1 {
      font-size: 3rem;
    }
  }

#app h2 {
    margin: 4rem 0px;
    font-weight: 500;
    padding-bottom: 1rem;
    font-size: 4rem;
    /* background: linear-gradient(#447AB8, #00BFA6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-family: "Audiowide", sans-serif;
    color:#CDDEFE;
}

#app .lead {
    font-family: "Maitree", sans-serif;
    color:#fff;
    font-size: 1.5rem;
    line-height: 1.5rem;


}


#app h3,
#app h4,
#app h5
{
    font-family: "Mirza", sans-serif;
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: "Mirza", sans-serif; }
  }



.home h3 {
    font-size: 2rem;
}


#app p,
#app ul,
#app ol {
    font-family: 'Maitree', sans-serif;
    font-size: 1.1rem;
}




.introduction {
    margin-top: 70px;
}


#app .article blockquote {
    margin-left: 2rem;
    padding-left: 1rem;
    border-left: #00BFA6 5px solid;
}

#app .card {
    border:none;
}

/* case study styles  */

#app .case-study  h2 {
        text-decoration: underline;
        margin-bottom: 0px;    
        font-family: "Mirza", sans-serif;
        line-height: 1;

    }

#app .case-study  h1 {
    font-size:5rem;
    text-align: center;    
}

#app .case-study h3 {
        font-size:1.25rem;
        color:#CDDEFE
    }
#app .case-study  img {
        border: 1px solid #ccc;
        margin-bottom:3rem;
    }
#app .case-study  p,
#app .case-study  li,
#app .case-study  p {
        font-size:1.1rem;
        color:#fff;
    }
#app .case-study a {
    color:#CDDEFE;
    font-weight: 500;
}

#app .case-study a:hover {
    color:#fff;
}

#app .case-study span.text-muted {
    color: #cddefe!important;
}

#app .case-study img {
    max-width:100%;
}
/* blog stylez */

.blog.article img,
.case-study img {
    border: 1px solid #ccc;
    margin-bottom: 3rem;
    display: block;
}

.blog.article img {
    max-width:80vw;
}

.blog.article h2 {
    text-decoration: underline;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.blog.article h3 {
    text-transform: lowercase;
    margin-top: 2rem;
}

.blog.article p {
    font-size: 1.2rem;
}

.blog.article pre {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 2ch;
}

.dots-bars-9 {
    width: 40px;
    height: 40px;
    --c: linear-gradient(#00BFA6 0 0);
    background: var(--c) 0 0, var(--c) 0 100%, var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 0, var(--c) 100% 100%;
    background-size: 8px 50%;
    background-repeat: no-repeat;
    animation: db9-0 2s infinite;
    position: relative;
    overflow: hidden;
}

.dots-bars-9:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: currentColor;
    top: calc(50% - 4px);
    left: -8px;
    animation: inherit;
    animation-name: db9-1;
}

@keyframes db9-0 {
    16.67% {
        background-size: 8px 30%, 8px 30%, 8px 50%, 8px 50%, 8px 50%, 8px 50%
    }
    33.33% {
        background-size: 8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 50%, 8px 50%
    }
    50% {
        background-size: 8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 50%, 8px 50%
    }
    66.67% {
        background-size: 8px 50%, 8px 50%, 8px 30%, 8px 30%, 8px 50%, 8px 50%
    }
    83.33% {
        background-size: 8px 50%, 8px 50%, 8px 50%, 8px 50%, 8px 50%, 8px 50%
    }
}

@keyframes db9-1 {
    20% {
        left: 0px
    }
    40%,
    70% {
        left: calc(50% - 4px)
    }
    80%,
    85% {
        left: 8px;
        top: calc(50% - 4px)
    }
    100% {
        left: 8px;
        top: -8px
    }
}
