*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1.main-heading {
    font-weight: 800;
    padding-bottom: 1rem;
    font-size: 5.5rem;
    background: linear-gradient(#447AB8, #00BFA6, #ffc0c0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.article h1,
.case-study h1 {
    font-weight: 700;
    padding-bottom: 1rem;
    font-size: 3rem;
    background: linear-gradient(#447AB8, #00BFA6, #ffc0c0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home h2 {
    margin: 4rem 0px;
    font-weight: 700;
    padding-bottom: 1rem;
    font-size: 4rem;
    background: linear-gradient(#447AB8, #00BFA6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home h3 {
    font-size: 2rem;
    font-family: 'Palanquin', sans-serif;
}

#app h4,
#app h5 {
    font-family: 'Palanquin', sans-serif;
}

#app p,
#app ul,
#app ol {
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
}

#app .btn {
    border-radius: 0px;
}

.introduction {
    margin-top: 70px;
}

#app .nav-link:hover {
    background: linear-gradient(to right, #ffc0c0, #00BFA6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#app .navbar-brand {
    color: #ddd;
}

#app .navbar-brand:hover {
    color: #fff;
}

#app .article blockquote {
    margin-left: 2rem;
    padding-left: 1rem;
    border-left: #00BFA6 5px solid;
}

#app .card-img-top,
#app .card {
    border-radius: 0px;
}


/* blog stylez */

.blog.article img,
.case-study img {
    border: 1px solid #ccc;
    margin-bottom: 3rem;
    max-width: 800px;
    max-width: 600px;
    display: block;
}

.blog.article h2 {
    text-decoration: underline;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.blog.article h3 {
    text-transform: lowercase;
    margin-top: 2rem;
}

.blog.article p {
    font-size: 1.2rem;
}

.blog.article pre {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 2ch;
}

.dots-bars-9 {
    width: 40px;
    height: 40px;
    --c: linear-gradient(#00BFA6 0 0);
    background: var(--c) 0 0, var(--c) 0 100%, var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 0, var(--c) 100% 100%;
    background-size: 8px 50%;
    background-repeat: no-repeat;
    animation: db9-0 2s infinite;
    position: relative;
    overflow: hidden;
}

.dots-bars-9:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: currentColor;
    top: calc(50% - 4px);
    left: -8px;
    animation: inherit;
    animation-name: db9-1;
}

@keyframes db9-0 {
    16.67% {
        background-size: 8px 30%, 8px 30%, 8px 50%, 8px 50%, 8px 50%, 8px 50%
    }
    33.33% {
        background-size: 8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 50%, 8px 50%
    }
    50% {
        background-size: 8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 50%, 8px 50%
    }
    66.67% {
        background-size: 8px 50%, 8px 50%, 8px 30%, 8px 30%, 8px 50%, 8px 50%
    }
    83.33% {
        background-size: 8px 50%, 8px 50%, 8px 50%, 8px 50%, 8px 50%, 8px 50%
    }
}

@keyframes db9-1 {
    20% {
        left: 0px
    }
    40%,
    70% {
        left: calc(50% - 4px)
    }
    80%,
    85% {
        left: 8px;
        top: calc(50% - 4px)
    }
    100% {
        left: 8px;
        top: -8px
    }
}